<!-- 一般情况 maven 的通用 settings.xml 在 .m2 文件夹下, 项目内 settings.xml 也可以进行设置，优先级更高 -->
<settings>
    <!-- omitted xml -->
    <!-- 请妥善保管好您的配置，不要随意分享给他人 -->
    <servers>
        <server>
            <id>nayo-acl_base-maven</id>
            <username>1836811312@qq.com</username>
            <password>5a&etfJir@dMnW</password>
        </server>
    </servers>
</settings>
