<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyi.base.project.wechat.mapper.WxUserMapper">
  <resultMap id="BaseResultMap" type="com.xiaoyi.base.project.wechat.entity.WxUser">
    <!--@mbg.generated-->
    <!--@Table wx_user-->
    <id column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="sex_desc" jdbcType="VARCHAR" property="sexDesc" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="language" jdbcType="VARCHAR" property="language" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="head_img_url" jdbcType="VARCHAR" property="headImgUrl" />
    <result column="subscribe_time" jdbcType="TIMESTAMP" property="subscribeTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    open_id, nickname, sex_desc, sex, `language`, city, province, country, head_img_url,
    subscribe_time, remark, group_id, create_time, `status`
  </sql>
</mapper>
